<web-app>  
  
<servlet>
  	<servlet-name>PostServlet</servlet-name>
  	<servlet-class>com.pravinewa.ServletHello</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PostServlet</servlet-name>
  	<url-pattern>/register</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
  	<welcome-file>form.html</welcome-file>
  </welcome-file-list>

</web-app>  